---
import "katex/dist/katex.min.css";

const { title = "Bruno Cruz" } = Astro.props;
const cssPath = import.meta.env.DEV
  ? "/static/css/styles.dev.css"
  : "/static/css/styles.min.css";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href={cssPath} />
  </head>
  <body>
    <article>
      <section>
        <slot />
      </section>
    </article>
    <script src="/static/js/main.min.js" defer></script>
  </body>
</html>
